@model IEnumerable<MaquinaViewModel>

@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	ViewBag.Title = "Máquinas";
}

<div class="page-breadcrumb">
	<div class="row">
		<div class="col-5 align-self-center">
			<h4 class="page-title">Lista de máquinas</h4>
		</div>
		<div class="col-7 align-self-center">
			<div class="d-flex align-items-center justify-content-end">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="@Url.Action("Administracion", "Home")">Administración</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Máquinas
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow-sm">
				<div class="card-body">
					<a asp-action="AgregarMaquina" class="btn btn-sm btn-default">Agregar máquina</a>

					<hr />

					<div class="table-responsive">
						<table class="table table-hover table-sm">
							<thead>
								<tr>
									<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Nombre)</th>
									<th>@Html.DisplayNameFor(m => m.FirstOrDefault().TipoMaquina.Nombre)</th>
									<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Estado)</th>
									<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Codigo)</th>
									<th>@Html.DisplayNameFor(m => m.FirstOrDefault().CodigoActivo)</th>
									<th>@Html.DisplayNameFor(m => m.FirstOrDefault().FechaAdquisicion)</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var Maquina in Model)
								{
									<tr>
										<td>@Maquina.Nombre</td>
										<td>@Maquina.TipoMaquina.Nombre</td>
										<td>@Maquina.Estado</td>
										<td>@Maquina.Codigo</td>
										<td>@Maquina.CodigoActivo</td>
										<td>@Maquina.FechaAdquisicion</td>
										<td>
											<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
												<button id="BtnDetalle" class="btn btn-sm btn-success" data-toggle="modal" data-target="#ModalDetalle"
													data-idmaquina="@Maquina.Id">Detalle</button>
												<a class="btn btn-sm btn-secondary" asp-controller="Maquinas" asp-action="EditarMaquina"
													asp-route-id="@Maquina.Id">Modificar</a>
												<a class="btn btn-sm btn-danger" asp-controller="Maquinas" asp-action="EliminarMaquina"
													asp-route-id="@Maquina.Id">Eliminar</a>
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<partial name="_DetalleMaquina" />

<link rel="stylesheet" href="~/lib/fancybox/jquery.fancybox.min.css" />

@section Scripts{
	<script type="text/javascript" src="~/lib/fancybox/jquery.fancybox.min.js"></script>

	<script type="text/javascript">
		$('#ModalDetalle').on('show.bs.modal', function (event)
		{
			var button = $(event.relatedTarget); // Button that triggered the modal
			var IdMaquina = button.data('idmaquina'); // Extract info from data-* attributes

			$("#ModalDetalle").find('.modal-title .nombre').text("Cargando...");

			// Initiate an AJAX request here(and then do the updating in a callback).
			$.ajax({
				url: '@Url.Action("DetalleMaquina")',
				data: { Id: IdMaquina },
				dataType: "json",
				type: 'GET',
				success: handleData,
				error: handleError
			});
		});

		function handleData(data)
		{
			// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
			var modal = $("#ModalDetalle");
			modal.find('.modal-title .nombre').text(data.nombre);
			modal.find('.modal-body .codigo').text(data.codigo);
			modal.find('.modal-body .numero-activo').text(data.codigoActivo);
			modal.find('.modal-body .tipo-maquina').text(data.tipoMaquina.nombre);
			modal.find('.modal-body .estado').text(data.estado);
			modal.find('.modal-body .fecha-adquisicion').text(data.fechaAdquisicion);
			modal.find('.modal-body .creado-por').text(data.creadoPor);
			modal.find('.modal-body .creado-el').text(data.creadoEl);
			modal.find('.modal-body .modificado-por').text(data.editadopor);
			modal.find('.modal-body .modificado-el').text(data.editadoel);
		}

		function handleError()
		{
			// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
			var modal = $("#ModalDetalle");
			modal.find('.modal-title .nombre').text("Error al obtener la información");
			modal.find('.modal-body .codigo').text('N/A');
			modal.find('.modal-body .numero-activo').text('N/A');
			modal.find('.modal-body .tipo-maquina').text('N/A');
			modal.find('.modal-body .estado').text('N/A');
			modal.find('.modal-body .fecha-adquisicion').text('N/A');
			modal.find('.modal-body .creado-por').text('N/A');
			modal.find('.modal-body .creado-el').text('N/A');
			modal.find('.modal-body .modificado-por').text('N/A');
			modal.find('.modal-body .modificado-el').text('N/A');
		}
	</script>
}
