@* @model NuevaRutinaViewModel

@{
Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
ViewBag.Title = "Rutinas";
}

<!-- ============================================================== -->
<!-- Bread crumb -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
<div class="row">
<div class="col-5 align-self-center">
<h4 class="page-title">Agregar nueva rutina</h4>
</div>
<div class="col-7 align-self-center">
<div class="d-flex align-items-center justify-content-end">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item">
<a href='@Url.Action("Administracion", "Home")'>Administración</a>
</li>
<li class="breadcrumb-item">
<a href='@Url.Action("Inicio")'>Rutinas</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
Agregar
</li>
</ol>
</nav>
</div>
</div>
</div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb -->
<!-- ============================================================== -->
<!-- Container fluid -->
<!-- ============================================================== -->
<div class="container-fluid">
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
<div class="col-12">
<div class="card shadow-sm">
<div class="card-body">
@using (Html.BeginForm("Nuevo", "Rutinas", FormMethod.Post, new { autocomplete = "off" }))
{
@Html.AntiForgeryToken()

<div class="row">
<div class="col-md-12">
@Html.ValidationSummary(true, "")
</div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="false">
<div class="carousel-inner">
<div class="carousel-item active">
<div class="card">
<div class="card-body">
<h5 class="card-title text-info">Datos preliminares</h5>
<div class="row">
<div class="col-sm-12 col-md-6">
<div class="form-group">
@Html.LabelFor(model => model.Instructor)
@Html.DropDownListFor(model => model.Instructor, new List<SelectListItem>(ViewBag.ListaInstructores), "Seleccione un instructor", new { @class = "form-control
form-control-sm" })
@Html.ValidationMessageFor(model => model.Instructor)
</div>
</div>

<div class="col-sm-12 col-md-6">
<div class="form-group">
@Html.LabelFor(model => model.Cliente)
@Html.DropDownListFor(model => model.Cliente, new List<SelectListItem>(ViewBag.ListaClientes), "Seleccione un cliente", new { @class = "form-control
form-control-sm" })
@Html.ValidationMessageFor(model => model.Cliente)
</div>
</div>

<div class="col-sm-12 col-md-4">
<div class="form-group">
@Html.LabelFor(model => model.FechaInicio)
<br />
@Html.EditorFor(model => model.FechaInicio, "", null, new { @class = "form-control form-control-sm", placeholder = "Digite la fecha de inicio" })
@Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
</div>
</div>

<div class="col-sm-12 col-md-4">
<div class="form-group">
@Html.LabelFor(model => model.FechaFin)
<br />
@Html.EditorFor(model => model.FechaFin, "", null, new { @class = "form-control form-control-sm", placeholder = "Digite la fecha de finalización" })
@Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
</div>
</div>

<div class="col-sm-12">
<div class="form-group">
@Html.LabelFor(model => model.Objetivo)
@Html.TextAreaFor(model => model.Objetivo, 4, 10, htmlAttributes: new { @class = "form-control form-control-sm", placeholder = "Digite el objetivo de la rutina"
})
@Html.ValidationMessageFor(model => model.Objetivo, "", new { @class = "text-danger" })
</div>
</div>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
<button type="button" class="btn btn-sm btn-success" data-target="#carouselExampleSlidesOnly" data-slide-to="1">Medidas&#9;<i class="fa
fa-arrow-right"></i></button>
</div>
</div>
</div>
</div>

<div class="carousel-item">
<div class="card">
<div class="card-body">
<h5 class="card-title text-success">Medidas</h5>
<div class="row">
<div class="col-sm-12">
<div class="form-group">
<label for="medidas">Seleccione una medida a agregar</label>
<select name="medidas" id="medidas" class="form-control form-control-sm w-50">
<option value="0">Por favor seleccione un tipo de medida</option>
@foreach (var medida in ViewBag.ListaTiposMedida)
{
<option value="@medida.Value">@medida.Text</option>
}
</select>
</div>
<div class="form-group">
<button type="button" id="btn_registrar_medida" name="btn_registrar_medida" class="btn btn-sm">Agregar medida seleccionada</button>
</div>
</div>
</div>

<div class="row" id="contenedor_medidas_registradas">
</div>

<div class="btn-group" role="group" aria-label="Basic example">
<button type="button" class="btn btn-sm btn-info" data-target="#carouselExampleSlidesOnly" data-slide-to="0"><i class="fa fa-arrow-left"></i>&#9;Datos
preliminares</button>
<button type="button" class="btn btn-sm btn-secondary" data-target="#carouselExampleSlidesOnly" data-slide-to="2">Ejercicios&#9;<i class="fa
fa-arrow-right"></i></button>
</div>
</div>
</div>
</div>

<div class="carousel-item">
<div class="card">
<div class="card-body">
<h5 class="card-title text-secondary">Ejercicios</h5>
<div class="row">
<div class="col-sm-12">
<div class="form-group">
<label for="ejercicios">Seleccione un ejercicio a agregar</label>
<select name="ejercicios" id="ejercicios" class="form-control form-control-sm w-50">
<option value="0">Por favor seleccione un ejercicio</option>
@foreach (var ejercicio in ViewBag.ListaEjercicios)
{
<option value="@ejercicio.Value">@ejercicio.Text</option>
}
</select>
</div>
<div class="form-group">
<button type="button" id="btn_registrar_ejercicio" name="btn_registrar_ejercicio" class="btn btn-sm">Agregar ejercicio seleccionado</button>
</div>
</div>
</div>

<div class="row" id="contenedor_ejercicios_registrados">
</div>

<div class="btn-group" role="group">
<button type="button" class="btn btn-sm btn-success" data-target="#carouselExampleSlidesOnly" data-slide-to="1"><i class="fa
fa-arrow-left"></i>&#9;Medidas</button>
<button class="btn btn-sm btn-default" type="submit">Guardar&#9;<i class="fa fa-check"></i></button>
</div>
</div>
</div>
</div>
</div>
</div>
}
</div>
</div>
</div>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid -->
<!-- ============================================================== -->
@section Scripts{
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script type="text/javascript">
let indiceMedidasRegistradas = 0;
let indiceEjerciciosRegistrados = 0;

$("#btn_registrar_medida").click(function (e) {
let idMedidaSeleccionada = $("#medidas").val();
let nombreMedidaSeleccionada = $("#medidas option:selected").text();

if (idMedidaSeleccionada > 0) {
let div = document.createElement('div');
div.setAttribute("class", "col-sm-12");

let inputHiddenId = document.createElement('input');
inputHiddenId.setAttribute("name", `DetalleMedidas[${indiceMedidasRegistradas}].IdTipoMedida`);
inputHiddenId.setAttribute("value", idMedidaSeleccionada);
inputHiddenId.setAttribute("type", "hidden");

let p = document.createElement('p');
p.setAttribute("class", "font-bold mb-0");
p.innerHTML = nombreMedidaSeleccionada;

let rowDiv = document.createElement("div");
rowDiv.setAttribute("class", "row");

// Valor
let divValor = document.createElement("div");
divValor.setAttribute("class", "col-sm-4 col-md-2");
let formDivValor = document.createElement('div');
formDivValor.setAttribute("class", "form-group");
let labelValor = document.createElement("label");
labelValor.innerHTML = "Valor";
let inputValor = document.createElement('input');
inputValor.setAttribute("name", `DetalleMedidas[${indiceMedidasRegistradas}].Valor`);
inputValor.setAttribute("class", "form-control form-control-sm");

// Comentario
let divComentario = document.createElement("div");
divComentario.setAttribute("class", "col-sm-8 col-md-10");
let formDivComentario = document.createElement('div');
formDivComentario.setAttribute("class", "form-group");
let labelComentario = document.createElement("label");
labelComentario.innerHTML = "Comentario";
let inputComentario = document.createElement('input');
inputComentario.setAttribute("name", `DetalleMedidas[${indiceMedidasRegistradas}].Comentario`);
inputComentario.setAttribute("class", "form-control form-control-sm");

$(p).appendTo(div);
$(inputHiddenId).appendTo(div);

$(divValor).appendTo(rowDiv);
$(formDivValor).appendTo(divValor);
$(labelValor).appendTo(formDivValor);
$(inputValor).appendTo(formDivValor);

$(divComentario).appendTo(rowDiv);
$(formDivComentario).appendTo(divComentario);
$(labelComentario).appendTo(formDivComentario);
$(inputComentario).appendTo(formDivComentario);

$(rowDiv).appendTo(div);
$(div).appendTo("#contenedor_medidas_registradas");

indiceMedidasRegistradas++;

$("#medidas option[value=" + idMedidaSeleccionada + "]").hide();
$("#medidas").val("0");

inputValor.focus();
}
});

$("#btn_registrar_ejercicio").click(function (e) {
let idEjercicioSeleccionado = $("#ejercicios").val();
let nombreEjercicioSeleccionado = $("#ejercicios option:selected").text();

if (idEjercicioSeleccionado > 0) {
let div = document.createElement('div');
div.setAttribute("class", "col-sm-12");

let inputHiddenId = document.createElement('input');
inputHiddenId.setAttribute("name", `DetalleEjercicios[${indiceEjerciciosRegistrados}].IdEjercicio`);
inputHiddenId.setAttribute("value", idEjercicioSeleccionado);
inputHiddenId.setAttribute("type", "hidden");

let p = document.createElement('p');
p.setAttribute("class", "font-bold mb-0");
p.innerHTML = nombreEjercicioSeleccionado;

let rowDiv = document.createElement("div");
rowDiv.setAttribute("class", "row");

// Series
let divSeries = document.createElement("div");
divSeries.setAttribute("class", "col-sm-4 col-md-2");
let formDivSeries = document.createElement('div');
formDivSeries.setAttribute("class", "form-group");
let labelSeries = document.createElement("label");
labelSeries.innerHTML = "Series";
let inputSeries = document.createElement('input');
inputSeries.setAttribute("name", `DetalleEjercicios[${indiceEjerciciosRegistrados}].Series`);
inputSeries.setAttribute("class", "form-control form-control-sm");

// Repeticiones
let divRepeticiones = document.createElement("div");
divRepeticiones.setAttribute("class", "col-sm-4 col-md-2");
let formDivRepeticiones = document.createElement('div');
formDivRepeticiones.setAttribute("class", "form-group");
let labelRepeticiones = document.createElement("label");
labelRepeticiones.innerHTML = "Repeticiones";
let inputRepeticiones = document.createElement('input');
inputRepeticiones.setAttribute("name", `DetalleEjercicios[${indiceEjerciciosRegistrados}].Repeticiones`);
inputRepeticiones.setAttribute("class", "form-control form-control-sm");

// Minutos de descanso
let divMinutosDescanso = document.createElement("div");
divMinutosDescanso.setAttribute("class", "col-sm-6 col-md-4");
let formDivMinutosDescanso = document.createElement('div');
formDivMinutosDescanso.setAttribute("class", "form-group");
let labelMinutosDescanso = document.createElement("label");
labelMinutosDescanso.innerHTML = "Minutos de descanso";
let inputMinutosDescanso = document.createElement('input');
inputMinutosDescanso.setAttribute("name", `DetalleEjercicios[${indiceEjerciciosRegistrados}].MinutosDescanso`);
inputMinutosDescanso.setAttribute("class", "form-control form-control-sm");

$(p).appendTo(div);
$(inputHiddenId).appendTo(div);

$(divSeries).appendTo(rowDiv);
$(formDivSeries).appendTo(divSeries);
$(labelSeries).appendTo(formDivSeries);
$(inputSeries).appendTo(formDivSeries);

$(divRepeticiones).appendTo(rowDiv);
$(formDivRepeticiones).appendTo(divRepeticiones);
$(labelRepeticiones).appendTo(formDivRepeticiones);
$(inputRepeticiones).appendTo(formDivRepeticiones);

$(divMinutosDescanso).appendTo(rowDiv);
$(formDivMinutosDescanso).appendTo(divMinutosDescanso);
$(labelMinutosDescanso).appendTo(formDivMinutosDescanso);
$(inputMinutosDescanso).appendTo(formDivMinutosDescanso);

$(rowDiv).appendTo(div);
$(div).appendTo("#contenedor_ejercicios_registrados");

indiceEjerciciosRegistrados++;

$("#ejercicios option[value=" + idEjercicioSeleccionado + "]").hide();
$("#ejercicios").val("0");

inputSeries.focus();
}
});
</script>
} *@
