@model IEnumerable<UsuarioViewModel>

@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	ViewBag.Title = "Instructores";
}

<div class="page-breadcrumb">
	<div class="row">
		<div class="col-5 align-self-center">
			<h4 class="page-title">Registrar nuevo instructor</h4>
		</div>
		<div class="col-7 align-self-center">
			<div class="d-flex align-items-center justify-content-end">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="@Url.Action("Administracion", "Home")">Administración</a>
						</li>
						<li class="breadcrumb-item">
							<a href="@Url.Action("ListarInstructores")">Instructores</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Registrar
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow-sm">
				<div class="card-body">
					<a asp-action="ListarInstructores" class="btn btn-sm btn-default">Regresar</a>
					<hr />

					<div class="table-responsive">
						<table class="table table-hover table-sm">
							<thead>
								<tr>
									<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Nombre)</th>
									<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Correo)</th>
									<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Estado)</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var Usuario in Model)
								{
									<tr>
										<td>@Usuario.Nombre</td>
										<td>@Usuario.Correo</td>
										<td>@Usuario.Estado</td>
										<td>
											<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
												<a class="btn btn-sm btn-secondary" asp-controller="Cuentas" asp-action="RegistrarInstructor"
													asp-route-id="@Usuario.IdUsuario">Seleccionar</a>
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
