@* @model IEnumerable<ReporteInstructorViewModel>

@{
Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
ViewBag.Title = "Reporte de instructores";
}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
<div class="row">
<div class="col-5 align-self-center">
<h4 class="page-title">Reporte de Instructores</h4>
</div>
<div class="col-7 align-self-center">
<div class="d-flex align-items-center justify-content-end">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item">
<a href="@Url.Action("Administracion", "Home")">Administración</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
Instructores
</li>
</ol>
</nav>
</div>
</div>
</div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid -->
<!-- ============================================================== -->
<div class="container-fluid">
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
<div class="col-12">
<div class="card shadow-sm">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-sm" id="instructores">
<caption>
Reporte generado por el usuario: <span class="font-weight-bold">@User.Identity.Name</span>, el: <span class="font-weight-bold">@DateTime.Now</span>
</caption>
<thead>
<tr>
<th>@Html.DisplayNameFor(m => m.FirstOrDefault().NumeroIdentificacion)</th>
<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Nombre)</th>
<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Correo)</th>
<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Domicilio)</th>
<th>@Html.DisplayNameFor(m => m.FirstOrDefault().FechaIngreso)</th>
<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Estado)</th>
</tr>
</thead>
<tbody>
@foreach (var Usuario in Model)
{
<tr>
<td>@Usuario.NumeroIdentificacion</td>
<td>@Usuario.Nombre</td>
<td>@Usuario.Correo</td>
<td>@Usuario.Domicilio</td>
<td>@Usuario.FechaIngreso</td>
<td>@Usuario.Estado</td>
</tr>
}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid -->
<!-- ============================================================== -->
@section Scripts{
<script type="text/javascript">
$(document).ready(function () {
$('#instructores').DataTable({
dom: 'Bfrtip',
buttons: [
{
extend: 'pdf',
text: 'Exportar a PDF',
filename: 'Reporte de instructores',
title: 'Reporte de instructores',
orientation: 'landscape'
},
{
extend: 'excel',
text: 'Exportar a Excel',
filename: 'Reporte de instructores',
title: 'Reporte de instructores'
}
],
paging: false,
ordering: false,
info: false,
searching: false
});
});
</script>
} *@
